*{
    margin: 0px;
    padding: 0px;
}
.main-body{
    width: 100%;
    height: 100%;
}
.footer-container{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 15px 0px;
    font-size: 32px;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
}
.symbol,.timestamp,.companyname{
    display: inline;
    text-transform: uppercase;
}
.symbol{
    color: aliceblue;
    padding-right: 6px;
}
.timestamp{
    padding-right: 12px;
    color: bisque;
}
.companyname{
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
@media screen and (max-width:306px){
    .footer-container{
        font-size: 20px;
    }
    .companyname{
        font-size: 18px;
    }
}
@media screen and (max-width:321px){
    .footer-container{
        font-size: 18px;
    }
    .companyname{
        font-size: 16px;
    }
}
@media screen and (max-width:305px){
    .footer-container{
        font-size: 18px;
    }
    .companyname{
        font-size: 16px;
    }
}
@media screen and (max-width:304px){
    .footer-container{
        font-size: 16px;
    }
    .companyname{
        font-size: 14px;
    }
}
@media screen and (max-width:270px){
    .footer-container{
        font-size: 14px;
    }
    .companyname{
        font-size: 12px;
    }
}