*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.main-body{
    width: 100%;
    height: 100%;
}
.footer-container{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 15px 0px;
    font-size: 32px;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
}
.symbol,.timestamp,.companyname{
    display: inline;
    text-transform: uppercase;
}
.symbol{
    color: aliceblue;
    padding-right: 6px;
}
.timestamp{
    padding-right: 12px;
    color: bisque;
}
.companyname{
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.text-box{
    text-align: center;
    margin-top: 40vh;
}
.main-text{
    font-family: Helvetica Narrow,sans-serif;
    letter-spacing: 20px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
}
.box{
    background-color: black;
    height: 100px;
    width: 480px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-52%);
    opacity: 1;
    z-index: -1;
}
/*-------------------------------------------------------Media Queries-------------------------------------------*/
@media screen and (max-width:450px){
    .footer-container{
        font-size: 30px;
    }
    .companyname{
        font-size: 28px;
    }
}
@media screen and (max-width:425px){
    .footer-container{
        font-size: 28px;
    }
    .companyname{
        font-size: 26px;
    }
}
@media screen and (max-width:410px){
    .footer-container{
        font-size: 26px;
    }
    .companyname{
        font-size: 24px;
    }
}
@media screen and (max-width:395px){
    .footer-container{
        font-size: 24px;
    }
    .companyname{
        font-size: 22px;
    }
}
@media screen and (max-width:360px){
    .footer-container{
        font-size: 22px;
    }
    .companyname{
        font-size: 20px;
    }
}
@media screen and (max-width:340px){
    .footer-container{
        font-size: 18px;
    }
    .companyname{
        font-size: 16px;
    }
}
@media screen and (max-width:306px){
    .footer-container{
        font-size: 20px;
    }
    .companyname{
        font-size: 18px;
    }
}
@media screen and (max-width:305px){
    .footer-container{
        font-size: 18px;
    }
    .companyname{
        font-size: 16px;
    }
}
@media screen and (max-width:304px){
    .footer-container{
        font-size: 16px;
    }
    .companyname{
        font-size: 14px;
    }
}
@media screen and (max-width:270px){
    .footer-container{
        font-size: 14px;
    }
    .companyname{
        font-size: 12px;
    }
}